@charset "utf-8";

body {
  color: #666;	/*全体の文字色*/
  background: #f1f1ef;
  margin: 0px;
  padding: 0px;
  font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*文字サイズ/行間、フォントファミリー*/
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
	vertical-align: bottom;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: black;	/*リンクテキストの色*/
}
a:hover {
	color: #ae69ba;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	background: url(../images/bg.jpg) no-repeat;	/*背景壁紙の読み込み*/
	height: 350px;	/*ブロックの高さ*/
	width: 970px;	/*ブロックの幅*/
	position: relative;
	margin: 0px auto;
}
/*ロゴ画像の設定*/
header #logo {
	position: absolute;
	left: 0px;		/*ヘッダーブロックに対して左から0pxの位置に配置*/
	top: 20px;		/*ヘッダーブロックに対して上から20pxの位置に配置*/
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
nav#menubar ul {
	float: right;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	margin-left: 10px;
}
nav#menubar ul li a {
	width: 100px;		/*ボタンの幅*/
	text-decoration: none;
	display: block;
	background: url(../images/bg1.jpg);	/*水玉背景画像*/
	text-align: center;
	border-radius: 0px 0px 100px 100px;	/*角丸の指定。左上、右上、右下、左下への設定。*/
	padding: 30px 0px 40px;	/*メニュー内余白。上、左右、下への数値。*/
	font-weight: bold;	/*テキストを太字にする設定。標準がいいならこの１行削除。*/
	color: #FFF;		/*文字色*/
}
/*マウスオン時と現在表示中メニューの設定*/
nav#menubar ul li a:hover,
nav#menubar ul li.current a {
	background: url(../images/circle.png) no-repeat center 60px, url(../images/bg2.jpg);	/*丸いマークと水玉背景の読み込み*/
}

/*コンテナー（ヘッダー以下を囲むブロック）
---------------------------------------------------------------------------*/
#container {
	background: url(../images/bg1.jpg);	/*水玉背景画像*/
	padding-top: 40px;	/*上に空けるスペース*/
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	clear: both;
	margin: 0px auto;
	width: 930px;		/*コンテンツ幅*/
	background: #FFF;	/*背景色*/
	padding: 20px;		/*ボックス内の余白*/
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.2);	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色(左3つがRGBの色指定で一番右が透明度)の設定。*/
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);			/*同上*/
	border-radius: 10px;	/*角丸のサイズ*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	width: 100%;
	padding-bottom: 30px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	font-size: 150%;
    font-weight: bold;
	color: #ae69ba;		/*文字色*/
	border-bottom: 3px solid #ae69ba;	/*下線の幅、線種、色の設定*/
	padding-left: 15px;
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	background: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#dcdcdc));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #dcdcdc);	/*同上*/
	background: linear-gradient(#FFF, #dcdcdc);			/*同上*/
	font-size: 100%;
	padding: 4px 15px;	/*左から、上下、左右への余白*/
	border-radius: 30px;		/*角丸のサイズ*/
	border: 1px solid #ccc;		/*枠線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 15px 1em;	/*左から、上、左右、下への余白*/
}

/*gallery.html内の各ブロック
---------------------------------------------------------------------------*/
/*ボックスの１個あたりの設定*/
#main section.list {
	width: 700px;	/*ボックスの幅*/
	margin: 0px auto 15px;
	padding: 20px;	/*ボックス内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角丸のサイズ*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#dcdcdc));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #dcdcdc);	/*同上*/
	background: linear-gradient(#FFF, #dcdcdc);			/*同上*/
	position: relative;
	overflow: hidden;
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	padding: 0px;
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: left;		/*画像を左へ回り込み*/
	background: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;		/*余白。ここに上の行で設定した背景色が出ます。*/
	width: 30%;		/*写真の幅*/
	height: auto;	/*写真の高さ*/
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	font-size: 100%;
	color: #ae69ba;		/*文字色*/
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
	border-bottom: 1px solid #ae69ba;	/*下側の線の幅、線種、色*/
	margin-bottom: 0.5em;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new{
	margin-bottom: 15px;
}
#new dl{
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px;	/*ボックスの高さ*/
	padding-left: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding-left: 8em;
}
#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 700px;	/*テーブル幅*/
	margin: 0px auto;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	padding: 10px;
}
/*テーブル内の左側*/
.ta1 th{
	width: 180px;	/*幅*/
	padding: 10px;
	text-align: center;	/*背景色*/
}
.ta1 th img {
	width: 100%;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#dcdcdc));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #dcdcdc);	/*同上*/
	background-image: linear-gradient(#FFF, #dcdcdc);			/*同上*/
}

/*inputボタンの設定
---------------------------------------------------------------------------*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	width: 250px;	/*ボタン幅*/
	padding: 10px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border-radius: 30px;	/*角丸のサイズ*/
	background-color: #e5e5e5;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background-image: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	font-size: 16px;	/*文字サイズ*/
	letter-spacing: 0.1em;
	border: 1px solid #999;
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#FFF));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#e5e5e5, #FFF);	/*同上*/
	background-image: linear-gradient(#e5e5e5, #FFF);			/*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}
#pagetop a {
	font-size: 10px;	/*文字サイズ*/
	text-decoration: none;
	text-align: center;
	width: 12em;	/*ボックス幅*/
	display: block;
	float: right;
	letter-spacing: 0.1em;	/*文字間隔を少し広めにとる設定。*/
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
/*マウスオン時*/
#pagetop a:hover {
	background: #ebebeb;
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #dcdcdc;
}
.mb15,
.mb1em {
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #ae69ba;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.big1 {
	font-size: 40px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
.r {
	text-align: right;
}
img {
	max-width: 100%;
	height: auto;
}
#menubar_hdr {
	display: none;
}
.newicon {
	background: #F00;
	color: #FFF;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 2px;
	margin: 0px 5px;
}



/*ここからタブレット用（481px～800px）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (min-width:481px) and (max-width:800px){
	
/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	width: auto;
	height: auto;
	position: static;
	text-align: center;
	background: url(../images/bg.jpg);
}
#top header {
	background: url(../images/bg.jpg) no-repeat bottom center/100% auto;
	height: 250px;
}
/*ロゴ画像の設定*/
header #logo {
	position: static;
	padding-top: 100px;
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
nav#menubar ul {
	float: none;
	position: absolute;
	top: 0px;
	left:0%;
	width: 100%;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	width: 16%;
	margin-left: 3.2%;
}
nav#menubar ul li a {
	width: 100%;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	margin: 10px;
}

/*gallery.html内の各ブロック
---------------------------------------------------------------------------*/
/*ボックスの１個あたりの設定*/
#main section.list {
	width: auto;	/*ボックスの幅*/
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}

}



/*ここからスマートフォン用（480px以下）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (max-width : 480px){

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
}

/*ヘッダー（サイト名が入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	width: auto;
	height: auto;
	position: static;
	text-align: center;
	background: url(../images/bg.jpg);
}
#top header {
	background: url(../images/bg.jpg) no-repeat bottom center/100% auto;
	height: 500px;
}
/*ロゴ画像の設定*/
header #logo {
	position: static;
	padding: 20px 0px 25px;
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
nav#menubar ul {
	float: none;
	margin: 0px 20px;
	overflow: hidden;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 10px;
}
nav#menubar ul li a {
	width: 100%;
	border-radius: 10px;
	padding: 10px 0px;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	margin: 10px;
}

/*gallery.html内の各ブロック
---------------------------------------------------------------------------*/
/*ボックスの１個あたりの設定*/
#main section.list {
	width: auto;
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	margin-left: 0;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: url(../images/btn_minus.png) no-repeat right center;
}
section#new h2.close {
	background: url(../images/btn_plus.png) no-repeat right center;
}
/*ブロック全体の設定*/
#new dl {
	height: auto;
	margin: 5px 5px 0px;
}
/*日付設定*/
#new dt {
	float: none;
	width: auto;
}
/*記事設定*/
#new dd {
	padding-left: 0;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
/*テーブル内の右側*/
.ta1 td{
	width: auto;
	padding: 5px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 100px;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
/*メニュー折りたたみ設定*/
#menubar_hdr {
	display: inline;
	position: absolute;
	top: 0px;
	right: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e5e5e5));
	background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
	background-image: linear-gradient(#fbfbfb, #e5e5e5);
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

}

#image {
	text-align: center;
	width: 100%;
	margin: 0,auto,0,auto;
}

#product_title {
	font-weight: bold;
	font-size: large;
	text-align: center;
	margin-top: 20px;
	color: black;
}

#setsumei {
	border-style: dotted;
	margin-bottom: 0,auto,30px,auto;
	text-align: center;
}

table.skilltabele {
	border:4px;
	border-style:inset;
	border-color: darkorchid;
	width: 80%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

th.skilltabele {
	border:4px;
	border-style:inset;
	border-color: darkorchid;
	width: 50%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#main div {
	text-align: center;
	font-weight: bold;
	font-size: large;
	margin-top: 10px;
}